@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-manrope);
}

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 224 71.4% 4.1%;
    --secondary-background:210, 20%, 98%,

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 16, 100%, 66%;
    --primary-foreground: 210 20% 98%;

    --secondary: 51, 33%, 92%;
    --secondary-foreground: 210 20% 98%;

    --muted: 0 0% 100%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 16, 100%, 76%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 16, 100%, 66%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240, 4%, 5%;
    --foreground: 210 20% 98%;
    --nav: 0 0% 8.6%;
    --secondary-background:210, 20%, 98%,

    --card: 0, 0%, 14%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 224, 71%, 4%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 8.6%;
    --secondary-foreground: 210 20% 98%;

    --muted: 0, 0%, 14%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 224, 71%, 4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
